<!doctype html>
<html lang="pt-BR">
	
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Virtual Shopping</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  
  <body>
    
                <!-- início navbar-->    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Shopping v0.1</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cadastro">Cadastrar</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Produtos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/celulares">Celulares</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="Teclados-Mouses">Teclados-Mouses</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
                  <!-- fim navbar-->
                  
<br>
                  <!-- começo card -->
<div class="container-fluid">
<div class="card-group">
  <div class="card">
    <img src="teclado1_.jpg" class="card-img-top" alt="9">
    <div class="card-body">
      <p class="card-text">Homesen G101 61 Teclas Teclado Mecânico com Fio Teclado RGB Retroiluminação PBT Bicolor Injeção Teclado Mecânico Azul Interruptor Preto R$108,99 (Amazon)</p>
       <div class="card-body">
    <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjxmszs5f2AAxUOQUgAHbhHD5IYABANGgJjZQ&ase=2&gclid=Cj0KCQjw6KunBhDxARIsAKFUGs_F1ku_qzdDP4nguWcBjlIXOkXkWpIN9rQftA8wqm1gch7G7gdk37YaAjwSEALw_wcB&ohost=www.google.com&cid=CAESa-D2d4H1VFDr81hcJ-gNCJkkvhmB_U9_2Y5aPqAIf1sKWPSbjCClK2H5UnlLl1StYIvx4XiN7WpcgKozSb0CPFlNvGTprJwK9uO7fYqiBxoeRzR-indcF8Wq_3kWGfPWrR-mvo8LTMBoADrv&sig=AOD64_362S9IUUKICgxA1vNi_bdNIHVzzw&ctype=5&q=&nis=4&ved=2ahUKEwjGm8bs5f2AAxV5LbkGHab9BoIQ9aACKAB6BAgHEA4&adurl=" class="card-link">link</a>
      </div>
    </div>
  </div>
  
  <div class="card">
    <img src="teclado2.jpg" class="card-img-top" alt="9">
    <div class="card-body">
      <p class="card-text">Daseey BAJEAL 87 teclas Teclado mecânico com fio Teclado mecânico leve misto com interruptor mecânico azul botão de suspensão branco + azul
Marca: Sunbaca R$126,80 (Amazon)</p>
       <div class="card-body">
    <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjxmszs5f2AAxUOQUgAHbhHD5IYABAPGgJjZQ&ase=2&gclid=Cj0KCQjw6KunBhDxARIsAKFUGs_rxVGpP8s24QRoNI8KCmk6yH5May851WRkkz_OBHvQuof8c3nUYUgaAma9EALw_wcB&ohost=www.google.com&cid=CAESa-D2d4H1VFDr81hcJ-gNCJkkvhmB_U9_2Y5aPqAIf1sKWPSbjCClK2H5UnlLl1StYIvx4XiN7WpcgKozSb0CPFlNvGTprJwK9uO7fYqiBxoeRzR-indcF8Wq_3kWGfPWrR-mvo8LTMBoADrv&sig=AOD64_0OxlSflOPYI4-uX2X24sWdJoEafA&ctype=5&q=&nis=4&ved=2ahUKEwjGm8bs5f2AAxV5LbkGHab9BoIQ9aACKAB6BAgHEBc&adurl=" class="card-link">link</a>
      </div>
    </div>
  </div>
  
  <div class="card">
    <img src="teclado3_.jpg" class="card-img-top" alt="9">
    <div class="card-body">
      <p class="card-text">Teclado Gamer Redragon Lakshmi Amarelo+branco+ Cinza R$184,99  (Amazon)</p>
       <div class="card-body">
      <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjxmszs5f2AAxUOQUgAHbhHD5IYABAKGgJjZQ&ase=2&gclid=Cj0KCQjw6KunBhDxARIsAKFUGs9B9TBx5capvWfeGZ07sZoIL4YqPmdi0g54SDMvYMwornIrm1YnmQoaAtQMEALw_wcB&ohost=www.google.com&cid=CAESa-D2d4H1VFDr81hcJ-gNCJkkvhmB_U9_2Y5aPqAIf1sKWPSbjCClK2H5UnlLl1StYIvx4XiN7WpcgKozSb0CPFlNvGTprJwK9uO7fYqiBxoeRzR-indcF8Wq_3kWGfPWrR-mvo8LTMBoADrv&sig=AOD64_1nHJFamMcUjWaulMYuxAO7fRGtZw&ctype=5&q=&nis=4&ved=2ahUKEwjGm8bs5f2AAxV5LbkGHab9BoIQ9aACKAB6BAgHECA&adurl=" class="card-link">link</a>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
<div class="card-group">
  <div class="card">
    <img src="teclado4_.jpg" class="card-img-top" alt="2">
    <div class="card-body">
      <p class="card-text">Teclado Gamer Semi Mecânico Multimídia Led Rgb Qwerty Antighosting Usb para Pc Notebook Xbox Series X S Ps4 Ps5 R$44,20 (Amazon)</p>
       <div class="card-body">
    <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjEy8Dm3v2AAxWNMtQBHaDCCjgYABAKGgJvYQ&ase=2&gclid=Cj0KCQjw6KunBhDxARIsAKFUGs868870h1fwqt3AmpvPJqOkOm1VHSaLCVhu6tqlC3rLJLIdnapHsAgaAtUUEALw_wcB&ei=Y7rrZMXxDsHz1sQP7eibuAg&ohost=www.google.com&cid=CAESa-D2_Mk3T00QeKIeyZyT2-y8ld8pI7KoHLrF4keiTwOzS_vRcinkURCpzIEJXuNBNLpjL9h3-hmKvNIni_lul6wjU403vpFMjmZatTqefYW7svsBlRVV1uUpARXmDfwtIs0WcY9mVYO6pQtM&sig=AOD64_2Io6JrRYTVDznVlY9J-2L0n5U7DA&ctype=5&q=&nis=4&sqi=2&ved=2ahUKEwiFr7Pm3v2AAxXBuZUCHW30BocQ9aACKAB6BAgHECk&adurl=">link</a>
      </div>
    </div>
  </div>
  
  <div class="card">
    <img src="mouse1.jpg" class="card-img-top" alt="2">
    <div class="card-body">
      <p class="card-text">fantaxi T66 RGB 2.4G Wireless Gaming Mouse RGB Lighting Charging Mouse com DPI Ajustável Design Ergonômico para Laptop Desktop Branco Rato de iluminação RGB R$72,74 (Amazon)</p>
       <div class="card-body">
    <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjnsZ3S7f2AAxWPXEgAHdqXAfQYABALGgJjZQ&ase=2&gclid=Cj0KCQjw6KunBhDxARIsAKFUGs9_dMaYEzoz4MbNpXTQYBy5wx-eGYrZb7wnDhB0yFDnqWLmZhuGs3AaAlX0EALw_wcB&ohost=www.google.com&cid=CAESa-D2q5M5Q-MpyAbY0j2ZiGCD-rmacYyRla3SOg8DrpIEc9cEJdPUMtHfecwX14itbc8nbJxmPJknbyIYHCJofAi1WKDfnCJJtEE8a63UuGcvo9kioLAmMsv10jVED7JwIMfN_mLFhSUCfQrX&sig=AOD64_1xoTtRhJoMj_Hs6yK29Hur2zIb6g&ctype=5&q=&nis=4&ved=2ahUKEwirs5fS7f2AAxVUCtQKHfGRAocQ9aACKAB6BAgIEA4&adurl=">link</a>
      </div>
    </div>
  </div>
  
  <div class="card">
    <img src="teclado6_.jpg" class="card-img-top" alt="2">
    <div class="card-body">
      <p class="card-text">Kit teclado gamer semi mecanico led rgb usb abnt2 e mouse gamer 3200dpi usb luz de led kit teclado e mouse led usb para pc ps4 ps5 e xbox one R$89,90 (Amazon)</p>
       <div class="card-body">
      <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjEy8Dm3v2AAxWNMtQBHaDCCjgYABANGgJvYQ&ase=2&gclid=Cj0KCQjw6KunBhDxARIsAKFUGs_zG_Jsue1BKyaqcggXWk3py3WHY_YSGFAYyq2PcSN_IyvuLsEckzsaAmsVEALw_wcB&ei=Y7rrZMXxDsHz1sQP7eibuAg&ohost=www.google.com&cid=CAESa-D2_Mk3T00QeKIeyZyT2-y8ld8pI7KoHLrF4keiTwOzS_vRcinkURCpzIEJXuNBNLpjL9h3-hmKvNIni_lul6wjU403vpFMjmZatTqefYW7svsBlRVV1uUpARXmDfwtIs0WcY9mVYO6pQtM&sig=AOD64_1XvgeP1dJ_1c8FVUbQ8DmrEij6ug&ctype=5&q=&nis=4&sqi=2&ved=2ahUKEwiFr7Pm3v2AAxXBuZUCHW30BocQ9aACKAB6BAgHEDs&adurl=">link</a>
      </div>
    </div>
  </div>
  
  
 <!-- fim container --> </div> 













     </div> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>